body {
	background-color: black;
	color: #F7AEF8;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

main p {
	padding: 0 1em;
}

.hex {
	color: #FF69B4;
}

header {
	text-align: center;
	border-bottom: 3px solid #9191E9;
	text-transform: uppercase;
}

.quote {
	font-style: italic;
	color: #52FFEE;
}

span.feature {
	font-family: 'Meddon';
	font-size: 1.2em;
}

h1 {
	font-family: 'Kristi', cursive;
	font-size: 3em;
	letter-spacing: 0.6em;
	color: #FF69B4;
}

h2 {
	color: #9191E9;
	letter-spacing: 0.5em;
	font-size: 1.2em;
}

h3 {
	color: #52FFEE;
	letter-spacing: 0.5em;
}


.social {
	margin-top: 3em;
}

.social a {
	letter-spacing: 0.2em;
}

a {
	color: #F7AEF8;
}

a:hover {
	background-color: #FF69B4;
	color: black;
}

i {
	padding: 0.5em; 
}

.project-list {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.project {
	margin: 2em;
	background-image: linear-gradient(#50CCA8, rgba(247,174,248,1));
	color: black;
}

h4 {
	text-transform: uppercase;
}

.content {
	display: flex;
}

.project p {
	text-align: justify;
	margin: 1em;
}

.project a {
	color: black;
}

.project a:hover {
	background-color: black;
	color: #64FFD2;
}

.screenshot {
	width: 40%;
	height: 100%;
	margin: 1em;
}

footer {
	background-color: #64FFD2;
	color: black;
	font-size: 0.8em;
}

.crown {
	width: 2em;
	margin: 0;
}


@media screen and (max-device-width: 480px) {
		
	h1 {
		font-size: 3.5em;
	}

	h2 {
		font-size: 0.8em;
	}

	i {
		margin: 0 1.4em;
		color: #FF69B4;
	}

	.crown {
		width: 10%;
	}

	.content {
		flex-direction: column;
	}

	.screenshot {
		width: 85%;
		margin: 0 auto;
	}

	h4 {
		font-size: 1.5em;
	}

	.content a {
		color: #52FFEE;
		background-color: black;
	}
}

